
* {
    margin: 0;
}

.page_box_container{
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 18%;
    padding-right: 18%;
    scroll-snap-type: y;
    scroll-snap-type: y proximity;
}

#hero_header_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.left_header_logo{
    width: 170px;
}

#contact_us_button_pg1{
    background: #232340;
    justify-self: end;
}

#contact_us_button_pg1:hover{
    background: #050549;
}

.hero_header_navs{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    justify-self: center;
    color: #ADADAD;
}

.hero_header_navs li{
    display:inline;
    padding-right:35px;
    list-style-type: none;
}

a:link {
    text-decoration: none;
    color: #ADADAD;
}

a:visited {
    text-decoration: none;
    color: #ADADAD;
}

a:hover {
    text-decoration: none;
    color: #5468E7;
}

.standart_button {
    padding: 17px 40px;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    color:aliceblue;
}

#hero_body_container{
    margin: 4%;
    display: grid;
    grid-template-columns: 2fr 3fr;
}

#left_part_body_container {
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 40px;
	margin-right: 3%;
}

#left_part_body_title {
	font-family: 'SF Pro Display';
	font-style: normal;
	font-weight: 700;
	font-size: 84px;
	line-height: 100px;
	letter-spacing: -1px;
	color: #232340;
}

#left_part_body_subtitle {
	font-family: 'SF Pro Display';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 32px;
	color: #606060;
}

#recent_work_button{
    background: #5468E7;
}

#recent_work_button:hover{
    background: #0f2ce9;
}

#right_part_body_container{
    justify-self: start;
}

.mobile_burguer_menu{
    display: none;
}

@media (max-width:1000px) {
    #hero_body_container{
        margin: 0%;
        display: flex;
        flex-direction: column;
    }

    #left_part_body_container{
        justify-self: start;
        margin-left: 0%;
        margin-right: 10%;
        gap: 15px;
    }

    #left_part_body_title {
        font-size: 48px;
        line-height: 56px;
        letter-spacing: -0.5px;
    }

    #left_part_body_subtitle {
        font-size: 16px;
        line-height: 28px;
    }

    #recent_work_button{
        background: #5468E7;
        font-family: 'SF Pro Display';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        color: #FFFFFF;
    }

    .page_box_container {
        padding: 0%;
        padding-right: 0%;
        padding-left: 6%;
        padding-bottom: 60px;
        scroll-snap-type: y proximity;
    }

    #hero_header_container{
        display: flex;
        flex-direction: row;
        padding-top: 10%;
        padding-bottom: 10%;
        gap:165px;
    }

    .hero_header_navs{
        display: none;
    }

    .left_header_logo{
        width: 120px;
    }

    #contact_us_button_pg1{
        display:none;
    }

    .mobile_burguer_menu{
        display: inline-block;
        width: 12%;
    }
}



/*
#################################
#                               #   
#       HERO DARK CONTAINER                          
#                               #   
#################################
*/


#page_2{
    background: #232340;
}

#hero_dark_grid{
    display: grid;
    grid-template-columns: 1fr 4fr;
    padding-top: 10%;
}

#left_column_hero_dark{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50%;
    gap: 245px;
}

#ul_list_hero_dark_left{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    list-style-type: none;
    padding: 0;
    color: #8B8B8B;
}

.padded_li{
    padding-bottom: 200%;
}

#r_column_hero_dark_item_1 > *{
    display:inline;
}

#i_01{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #8B8B8B;
    display: inline;
}

#who_we_are{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    display: inline;
    padding-left: 2%;
}

#we_make_designs{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 72px;
    letter-spacing: -0.5px;
    color: #FFFFFF;
}

#r_column_hero_dark_item_1_sub{
    display:grid;
    grid-template-columns: 70% 30%;
    margin-bottom: -29px;
}

.arrows_format{
    height: 40%;
}

#left_arrow_pg2 {
	height: 12%;
	padding: 19px;
}

#left_arrow_pg3 {
	height: 12%;
	padding: 19px;
}

.sub_arrows{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#right_arrow {
    height: 12%;
    transform: rotate(180deg);
    padding: 7%;
    border-radius: 55px;
    background: #5468E7;
}

#left_arrow_pg2:hover{
    border-radius: 55px;
    background: #313E93;
}

#left_arrow_pg3:hover{
    border-radius: 55px;
    background: #c5c5c5;
}

#right_arrow:hover{
    background: #3650f5;
}

#right_column_hero_dark{
    display: flex;
    flex-direction: column;
    gap:80px;
}

#big-desktop{
    width: 100%;
}

#r_column_hero_dark_item_3{
    display:flex;
    flex-direction:row;
    gap:130px;
    align-self: center;
}

#a_design_team_container{
    display:flex;
    flex-direction: column;
    gap:40px;
    width: 500px;
}

#a_design_title{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.5px;
    color: #FFFFFF;
}

#curated_design{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #8B8B8B;
}

#_28_biggest_container{
    display:flex;
    flex-direction: column;
}

#_28_title{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    font-size: 200px;
    line-height: 239px;
    text-align: center;
    color: #FFFFFF;
}

#hero_dark_button{
    align-self: start;
    background: #3650f5;
}

#hero_dark_button:hover{
    background: #0f0f8a;
}

#biggest{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    letter-spacing: -0.2px;
    color: #FFFFFF;
}

#hidden_number_choice{
    display: none;
}

#hidden_small_arrow{
    display: none;
}

@media (max-width:1000px) {

    #hero_dark_grid{
        display: flex;
        flex-direction: column;
    }

    #left_column_hero_dark{
        display:none;
    }

    #r_column_hero_dark_item_1_sub{
        display: flex;
        flex-direction: column;
    }

    #we_make_designs {
        width: 80%;
    }

    .sub_arrows{
	justify-content: flex-start;
    }

    #hidden_number_choice {
	font-family: 'SF Pro Text';
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	line-height: 16px;
	color: #FFFFFF;
	display: inline;
	align-self: center;
	padding-left: 90px;
	padding-right: 45px;
    }

    #hidden_small_arrow {
	display:inline;
	width: 5%;	
    }

    #we_make_designs {
	width: 80%;
	font-size: 47px;
	line-height: 55px;
	padding-top: 20px;
	padding-bottom: 20px;
    }

    #big-desktop {
	width: 106%;
	margin-left: -22.3px;
    }

    #r_column_hero_dark_item_3{
	flex-direction: column;
	gap:30px;
    }

    #a_design_team_container {
	display: flex;
	flex-direction: column;
	gap: 40px;
	margin-top: -57px;
	width: auto;
	margin-right: 10px;
    }

    #_28_title{
	margin: -39px;
	font-size: 140px;
    }

    #_28_biggest_container {
	height: 15%;
	padding: 20%;
	border-radius: 215px;
    background: #232340;
    box-shadow: 0px 23px 51px rgba(0, 0, 0, 0.242297);
	
	margin: 10px;
	margin-left: -10px;
    }

    #biggest {
	font-size: 18px;
    }
}




/*
#################################
#                               #   
#            PAGE 3
#                               #   
#################################
*/



.standart_header{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: auto;
    grid-template-areas:
        "little_logo little_header burguer_menu"
        ". big_title sub_arrows"
        ". article .";
    row-gap: 20px;
    padding-bottom:7%;
}

.small_letters_header_pg3 {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #5468E7;
    display: inline;
    grid-area:little_header;
}

.left_little_logo{
    width: 10%;   
}

#left_little_logo_p3{
    grid-area:little_logo;
}

#burguer_menu_pg3{
    grid-area: burguer_menu;

}

#only_folio_word{
    display:none;
}

#logo_pg3{
    width: 20%;
}

.logo_text{
    grid-area: logo_text;
}

#we_make_designs_pg3{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 72px;
    letter-spacing: -0.5px;
    color: #232340;
    grid-area:big_title;
}

#sub_arrows_pg3{
    grid-area: sub_arrows;
}

#center_pg3{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    filter: drop-shadow(3px 3px 29px #D2D1D1);
}

.icon_container {
	padding-top: 50%;
	padding-bottom: 50%;
	background-color: white;
	padding-left: 25%;
	padding-right: 43%;
	border-radius: 0;
    justify-self: center;
    color: #5468E7;
}

.icon_container_left {
	padding-top: 50%;
	padding-bottom: 50%;
	background-color: white;
	padding-left: 25%;
	padding-right: 36%;
	border-radius: 50px;
	justify-self: center;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
    color: #5468E7;
}

.icon_container_right {
	padding-top: 50%;
	padding-bottom: 50%;
	background-color: white;
	padding-left: 25%;
	padding-right: 23%;
	border-radius: 50px;
	justify-self: center;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
    color: #5468E7;
}

.icon_container:hover {
    background:#5468E7;
    color:white;
}

.icon_container_right:hover {
    background:#5468E7;
    color:white;
}
.icon_container_left:hover{
    background:#5468E7;
    color:white;
}

.icon_within{
    width: 120px;
    padding-bottom: 40px;
}

.text_within{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    letter-spacing: -0.2px;
    color: inherit;
    justify-self: start;
}

.last-item_container{
    width: 120px;
	padding-top: 50%;
	padding-bottom: 50%;
	background-color: white;
	padding-left: 25%;
	padding-right: 26%;
	border-radius: 50px;
}

#page_3{
    padding-top: 60px;
    display:flex;
    flex-direction: column;
    gap:30px;
    background: linear-gradient(360deg, rgba(255, 255, 255, 0.0001) 0%, rgba(237, 229, 240, 0.504289) 100%);
}

#icon_container-communicate {
    padding-top: 50%;
	padding-bottom: 50%;
	background-color: white;
	padding-left: 25%;
	padding-right: 65%;
	border-radius: 50px;
    justify-self: center;
}

@media (max-width:1000px) {
    .standart_header {
        display: grid;
        grid-template-columns: 75% 25%;
        grid-template-rows: auto;
        grid-template-areas:
            "little_logo burguer_menu"
            "little_header ."
            "big_title ."
            "sub_arrows ."
            "article .";
        row-gap: 20px;
        padding-bottom: 7%;
    }

    #only_folio_word{
        display:inline;
        width: 20%;
    }

    #left_little_logo_p3{
        width: 180%;
    }

    #we_make_designs_pg3{
        font-weight: 700;
        font-size: 40px;
        line-height: 48px;
        letter-spacing: -0.4px;
    }

    #small_letters_header_pg3{
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
    }

    #burguer_menu_pg3{
        display:inline;
        width: 53%;
        align-self: center;
    }

    #center_pg3{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-row-gap: 18px;
    }

    .icon_container_left{
        padding-top: 10%;
        padding-bottom: 10%;
        background-color: white;
        padding-left: 15%;
        padding-right: 15%;
        border-radius: 50px;
        justify-self: center;
        margin-left: -22px;
        display: flex;
        align-items: center;
        gap: 30px;
    }

    .icon_container {
        padding-top: 10%;
        padding-bottom: 10%;
        background-color: white;
        padding-left: 15%;
        padding-right: 15%;
        border-radius: 50px;
        justify-self: center;
        margin-left: -22px;
        display: flex;
        align-items: center;
        gap: 30px;
    }

    .icon_container_right {
        padding-top: 10%;
        padding-bottom: 10%;
        background-color: white;
        padding-left: 8%;
        padding-right: 8%;
        border-radius: 50px;
        justify-self: center;
        margin-left: -22px;
        display: flex;
        align-items: center;
        gap: 30px;
    }

    .icon_within {
        width: 100px;
        padding-bottom: 0;
    }
}






/*
#################################
#                               #   
#            PAGE 4
#                               #   
#################################
*/



#header_page_4{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: auto;
    grid-template-areas:
        "little_logo little_header ."
        ". big_title button"
        ". article .";
    row-gap: 32px;
    padding-bottom:7%;
}

#big_title_pg4{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 84px;
    line-height: 100px;
    letter-spacing: -1px;
    color: #232340;
    grid-area: big_title;
}

#contact_us_button_pg4 {
	grid-area: button;
	background-color: #5468E7;
	justify-self: end;
	align-self: start;
}

#little_text{
    grid-area: little_text;
    padding-right: 177px;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #606060;
}

#contact_us_button_pg4{
    background: #5468E7;
    grid-area:button;
}

#contact_us_button_pg4:hover{
    background: #0f2ce9;
}

#little_text_pg4{
    grid-area: article;
}

#subtitle_header_pg4{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #606060;
    grid-area:article;
    width: 500px;
}

#button_header_page4{
    grid-area: sub_arrows;
}


/******/

#body1_pg4 {
	display: flex;
	flex-direction: row;
	margin-top: -70px;
	margin-left: 48px;
}

#left_part_body1_pg4 {
	display: flex;
	flex-direction: column;
	gap: 30px;
	margin-top: 127px;
	z-index: 2;
}

#body1_pg4 button {
	width: 226px;
	padding: 17px 30px;
	border: none;
	border-radius: 47px;
	font-size: 20px;
	background: #908CFF;
	color: white;
}

#body1_pg4 img {
	width: 1178px;
	margin-left: -475px;
	margin-top: -100px;
	z-index: 1;
}

#body1_pg4 p{
    width: 300px;
}

#body1_pg4 h1{
    width: 500px;
}

#body2_pg4{
    display: grid;
    grid-template-columns: 50% 50%;
}

#flexbox_left{
    display:flex;
    flex-direction:column;
    padding-top:350px;
    gap:340px;
}

#flexbox_right {
	padding-top: 50px;
	gap: 350px;
	display: flex;
	flex-direction: column;
}

.flex_element{
    display:flex;
    flex-direction: column;
    gap:30px;
    justify-self: start;
}

.flex_item_title{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.4px;
    color: #232340;
}

.flex_item_subtitle{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #606060;
}

#flex_item_img_1 {
	padding: 100px 0px;
	border-radius: 50px;
	background: #FFCE79;
}

#flex_item_img_2 {
	padding: 100px 0px;
	border-radius: 50px;
	background: #FFADD0;
}

#flex_item_img_3 {
	padding: 100px 0px;
	border-radius: 50px;
	background: #E8BEFF;
}

#flex_item_img_4 {
	padding: 100px 0px;
	border-radius: 50px;
	background: #D1ECFD;
}

#flex_element_1{
    padding-right: 91px;
}

#flex_element_2{
    padding-left: 203px;
}

#flex_element_3{
    padding-left: 203px;
}

#flex_element_4{
    padding-left: 203px;
}


@media (max-width:1000px) {
    #button_header_page4{
        display:none;
    }

    #subtitle_header_pg4{
        width: 300px;
        margin-top: -20px;
    }

    #left_part_body1_pg4{
        display:none;
    }

    #body1_pg4 img {
        width: 481px;
        margin-left: -203px;
        margin-top: 6px;
    }

    #body2_pg4{
        display:flex;
        flex-direction: column;
    }

    #flexbox_left{
        padding-top:0;
        gap: 56px;
    }

    #flex_element_2{
        padding-left: 0;
    }

    #flex_item_img_2 {
        padding: 70px 0px;
        border-radius: 50px;
        background: #FFADD0;
        margin-left: -24px;
        align-self: center;
    }

    #flex_element_3 {
        padding-left: 0;
    }

    #flex_element_3 {
        padding-left: 0;
        margin-left: 2px;
    }

    #flex_element_4 {
        padding-left: 0;
    }

    #flexbox_right {
        padding-top: 50px;
        gap: 56px;
        display: flex;
        flex-direction: column;
    }
}




/*
#################################
#                               #   
#            PAGE 5
#                               #   
#################################
*/



#page_5{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: linear-gradient(360deg, rgba(255, 255, 255, 0.0001) 0%, rgba(237, 229, 240, 0.504289) 100%);
}

#left_part_page_5{
    display: grid;
    grid-template-columns: 20% 80% 20%;
    grid-template-rows: auto;
    grid-template-areas:
        "little_logo little_header burguer_menu"
        ". big_title ."
        ". article ."
        ". avaliable_job .";
    row-gap: 40px;
    padding-bottom:7%;
    width: 500px;
    height: 200px;
}

#avaliable_jobs_container{
    grid-area: avaliable_job;
    display: flex;
    gap:20px;
}

#only_logo_pg5{
    width: 20%;
}

#right_arrow_pg5 {
	border-radius: 50px;
	background: #C897E4;
	padding: 20px 15px;
}

#avaliable_jobs_text{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #8B8B8B;
}

#big_title_pg5{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 110px;
    line-height: 131px;
    letter-spacing: -1.2px;
    color: #232340;
    grid-area:big_title;
}

#right_arrow_pg5:hover{
    background: #b566e2;
}


#right_part_page5{
    display:flex;
    flex-direction: column;
    align-items: end;
    gap:30px;
}

.black_main_title{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.5px;
}

.fill_white{
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

.white_main_title{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.5px;
    color: #FFFFFF;
}

.small_title{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #606060;
}

#small_white_right_arrow_1{
    transform:rotate(180deg);
    padding-bottom: 30px;
    width: 30px;
}

.white_page_5_box_container {
	padding: 50px 200px 50px 50px;
	background: #FFFFFF;
	border-radius: 50px;
	box-shadow: 0px 23px 51px rgba(0, 0, 0, 0.14);
    width: 300px;
    color: inherit;
}

.black_page_5_box_container{
    padding: 50px 200px 50px 50px;
	background: #232340;
	border-radius: 50px;
	box-shadow: 0px 23px 51px rgba(0, 0, 0, 0.14);
    width: 300px;
}

#small_white_right_arrow_2{
    transform: rotate(180deg);
    padding-bottom: 30px;
}

.white_page_5_box_container:hover{
    background: #232340; 
    color: white;
}




/*
#################################
#                               #   
#            PAGE 6
#                               #   
#################################
*/



#grid_page6_container{
    display: grid;
    grid-template-areas:
        "first first"
        "second_1 second_2";
    align-items: center;
    justify-items: center;
}

#blue_board_pg6 {
	display: flex;
	flex-direction: column;
	background-color: #5468E7;
	border-radius: 50px;
}

#up_container{
    display:flex;
    flex-direction: column;
    gap:30px;
    align-self: center;
    align-items: center;
    padding: 150px;
}

#only_logo_pg6 {
	width: 4%;
	padding: 5px;
	background: #C897E4;
	border-radius: 10px;
}

#say_hello_container{
    display:flex;
    flex-direction: row;
    gap:10px;
}

#say_hello_text{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    width: 100px;
}

.medium_text_pg6{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 40px;
    text-align: center;
    letter-spacing: -0.5px;
    color: #FFFFFF;
    width: 400px;
}

#bottom_container{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
}

#whats_logo{
    width: 90px;
}

#small_arrow_pg6 {
	width: 30px;
	transform: rotate(180deg);
	padding: 10px;
	border: 1px solid white;
	border-radius: 73%;
}

#small_arrow_pg6:hover {
    background-color: #313E93;
}

#big_title_pg6 {
	font-family: 'SF Pro Display';
	font-style: normal;
	font-weight: 700;
	font-size: 64px;
	line-height: 72px;
	letter-spacing: -0.5px;
	color: #FFFFFF;
	padding: 100px 150px 100px 150px;
	width: 400px;
	border: 0.5px solid white;
}

#whats_invest_container {
	display: flex;
	flex-direction: column;
	padding: 177px 80px;
	border: 0.5px solid white;
}

#invest_and_arrow{
    display:flex;
}

#baseboard{
    display:flex;
    flex-direction:column;
    gap:30px;
    align-items: center;
    padding-top: 150px;
    padding-bottom: 50px;
}

#logo_rodape{
    width: 13%;
}

#baseboard > p{
    width: 500px;
    text-align: center;
    font-family: 'SF Pro Display';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 32px;
	color: #606060;
    
}

#rodape_final{
    display: flex;
    gap:900px;
    padding-top: 30px;
}

#horizontal_line{
    border-top: 1px ;
    color: #ADADAD;
}

#disclaimer{
    width: 300px;
}

.follow_us{
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #ADADAD;
    display: inline;
}

@media (max-width:1000px) {
    #baseboard > p {
        width: 350px;
        text-align: center;
        font-family: 'SF Pro Display';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 32px;
        color: #606060;
        margin-left: -30px;
    }

    #logo_rodape {
        width: 49%;
    }

    #horizontal_line{
        display:none;
    }

    #rodape_final {
        display: flex;
        flex-direction: column-reverse;
        padding-top: 0;
        gap: 0;
        margin-left: 90px;
        margin-top: -21px;
    }

    #blue_board_pg6 {
        display: flex;
        flex-direction: column;
        background-color: #5468E7;
        border-radius: 32px;
        margin-left: -6px;
        width: 341px;
    }

    .medium_text_pg6{
        width: 384px;
    }

    #big_title_pg6{
        margin-left: -65px;
    }

    #page_5{
        grid-template-columns: auto;
    }

    #left_part_page_5 {
        display: grid;
        grid-template-columns: 75% 25%;
        grid-template-rows: auto;
        grid-template-areas:
            "little_logo burguer_menu"
            "little_header ."
            "big_title ."
            "sub_arrows ."
            "article .";
        row-gap: 20px;
        padding-bottom: 7%;
        padding-top: 60px;
    }

    #burguer_menu_pg5 {
        display: inline;
        width: 37.3%;
        align-self: center;
        margin-left: -102px;
    }

    #only_logo_pg5 {
        width: 7%;
    }

    #right_part_page5 {
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 30px;
        padding-top: 173px;
        margin-left: -4px;
    }

    .white_page_5_box_container {
        padding: 50px 200px 50px 50px;
        background: #FFFFFF;
        border-radius: 50px;
        box-shadow: 0px 23px 51px rgba(0, 0, 0, 0.14);
        width: 90px;
        align-self: start;
        height: 40px;
        padding-bottom: 163px;
    }

    .small_title {
        font-family: 'SF Pro Display';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 32px;
        color: #606060;
        width: 200px;
    }

    #flex_item_img_1 {
        padding: 100px 0px;
        border-radius: 50px;
        background: #FFCE79;
        margin-right: -81px;
        margin-left: -14px;
    }

    #flex_item_img_3 {
        padding: 100px 0px;
        border-radius: 50px;
        background: #E8BEFF;
        margin-left: -23px;
    }

    #flex_item_img_4 {
        padding: 100px 0px;
        border-radius: 50px;
        background: #D1ECFD;
        margin-left: -19px;
    }

    
}




