
* {
    margin: 0;
}

.page_box_container{
    padding: 2.5%;
    padding-left: 18%;
    padding-right: 18%;
    
    scroll-snap-type: y;
    scroll-snap-type: y proximity;
}

#hero_header_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

#hero_header_item_1{
    justify-self: left;
}

#hero_header_item_2{
    justify-self: center;
}

#hero_header_item_3{
    justify-self: end;
}

.standart_button {
    padding: 17px 40px;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    color:aliceblue;
}

#contact_us_button{
    background: #232340;
}

#contact_us_button:hover{
    background: #050549;
}


a:link {
    text-decoration: none;
    color: #ADADAD;
}

a:visited {
    text-decoration: none;
    color: #ADADAD;
}

a:hover {
    text-decoration: none;
    color: #5468E7;
}

a:active {
    text-decoration: none;
    color: #5468E7;
}

#hero_header_container li{
    display:inline;
    padding-right:35px;
    list-style-type: none;
}

#header_logo{
    width: 170px;
}

.hero_header_navs{
    /* menu item */
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height, or 133% */
    text-align: center;

    /* text/deactive-2 */
    color: #ADADAD;
}

#hero_body_container{
    margin: 4%;
    display: grid;
    grid-template-columns: 2fr 3fr;
}

#left_part_body_container {
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 40px;
	margin-right: 3%;
}

#left_part_body_title {
	font-family: 'SF Pro Display';
	font-style: normal;
	font-weight: 700;
	font-size: 84px;
	line-height: 100px;
	letter-spacing: -1px;
	color: #232340;
}

#left_part_body_subtitle {
	font-family: 'SF Pro Display';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 32px;
	color: #606060;
}

#recent_work_button{
    background: #5468E7;
}

#recent_work_button:hover{
    background: #0f2ce9;
}


#right_part_body_container{
    justify-self: start;
}

@media (max-width:1000px) {
    #hero_body_container{
        margin: 0%;
        display: flex;
        flex-direction: column;
    }

    #left_part_body_container{
        justify-self: start;
        margin-left: 0%;
        margin-right: 10%;
        gap: 15px;
    }

    #left_part_body_title {
        font-family: 'SF Pro Display';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 56px;
        /* or 117% */
        letter-spacing: -0.5px;

        /* color/dark */
        color: #232340;
    }

    #left_part_body_subtitle {
        font-family: 'SF Pro Display';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        color: #606060;
    }

    #recent_work_button{
        background: #5468E7;
        font-family: 'SF Pro Display';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        /* identical to box height, or 138% */
        text-align: center;

        /* color/white */
        color: #FFFFFF;
    }

    .page_box_container {
        padding: 0%;
        padding-right: 0%;
        padding-left: 6%;
        scroll-snap-type: y proximity;
    }

    #hero_header_container{
        display: flex;
        flex-direction: row;
        padding-top: 10%;
        padding-bottom: 10%;
        gap:165px;
    }

    #hero_header_item_2{
        display: none;
    }

    #header_logo{
        width: 120px;
    }

    #hero_header_rectangle{
        background: #232340;
    }

    #hero_header_item_3{
        display:none;
    }

    #hero_header_burguer{
        display: inline-block;
    }

    #hero_header_rectangle{
        background: #232340;
        width: 40%;
    }
}

@media (min-width:1001px) {
    #hero_header_burguer{
        display: none;
    }
    
    #hero_header_rectangle{
        display: none;
    }
}


/*
#################################
#                               #   
#       HERO DARK CONTAINER                          
#                               #   
#################################
*/


#hero_dark_grid{
    display: grid;
    grid-template-columns: 1fr 4fr;
    padding-top: 10%;
}

#left_column_hero_dark{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50%;
    gap: 250px;
}

#left_column_hero_dark_logo{
    width: 10%;
}

#ul_list_hero_dark_left{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    list-style-type: none;
    padding: 0;
    color: #8B8B8B;
}

.padded_li{
    padding-bottom: 200%;
}

#test{
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10%;
}

#r_column_hero_dark_item_1 > *{
    display:inline;
}

#i_01{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #8B8B8B;
    display: inline;
}

#who_we_are{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    display: inline;
    padding-left: 2%;
}

#we_make_designs{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 72px;
    letter-spacing: -0.5px;
    color: #FFFFFF;
    width: 800px;
}

#r_column_hero_dark_item_1_sub{
    display:grid;
    grid-template-columns: 1fr 1fr;
    
}

#right_arrow {
	transform: rotate(180deg);
	border-radius: 69%;
	background: #5468E7;
	color: #000;
	text-align: center;
	margin: 39px;
	padding: 25px;
    margin-right: 0;
}

#sub_arrows{
    display: flex;
    flex-direction: row;
    justify-self: end;
}

#right_arrow:hover{
    background: #3650f5;
}

#right_column_hero_dark{
    display: flex;
    flex-direction: column;
    gap:45px;
}

#r_column_hero_dark_item_2{

}

#big-desktop{
    width: 100%;
}

#r_column_hero_dark_item_3{
    display:flex;
    flex-direction:row;
    gap:130px;
    align-self: center;
}

#a_design_team_container{
    display:flex;
    flex-direction: column;
    gap:40px;
    width: 500px;
}

#a_design_title{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.5px;
    color: #FFFFFF;
}

#curated_design{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #8B8B8B;
}

#_28_biggest_container{
    display:flex;
    flex-direction: column;
}

#_28_title{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    font-size: 200px;
    line-height: 239px;
    text-align: center;
    color: #FFFFFF;
}

#hero_dark_button{
    align-self: start;
    background: #3650f5;
}

#hero_dark_button:hover{
    background: #0f0f8a;
}

#biggest{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    letter-spacing: -0.2px;
    color: #FFFFFF;
}

