
* {
    margin: 0;
}

.page_box_container{
    padding: 5%;
    padding-left: 18%;
    padding-right: 18%;
    
    scroll-snap-type: y;
    scroll-snap-type: y proximity;
}

#hero_header_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

#hero_header_item_1{
    justify-self: left;
}

#hero_header_item_2{
    justify-self: center;
}

#hero_header_item_3{
    justify-self: end;
}

.standart_button {
    padding: 17px 40px;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    color:aliceblue;
}

#contact_us_button{
    background: #232340;
}

#contact_us_button:hover{
    background: #050549;
}

a:link {
    text-decoration: none;
    color: #ADADAD;
}

a:visited {
    text-decoration: none;
    color: #ADADAD;
}

a:hover {
    text-decoration: none;
    color: #5468E7;
}

a:active {
    text-decoration: none;
    color: #5468E7;
}

#hero_header_container li{
    display:inline;
    padding-right:35px;
    list-style-type: none;
}

#header_logo{
    width: 170px;
}

.hero_header_navs{
    /* menu item */
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height, or 133% */
    text-align: center;

    /* text/deactive-2 */
    color: #ADADAD;
}

#hero_body_container{
    margin: 4%;
    display: grid;
    grid-template-columns: 2fr 3fr;
}

#left_part_body_container {
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 40px;
	margin-right: 3%;
}

#left_part_body_title {
	font-family: 'SF Pro Display';
	font-style: normal;
	font-weight: 700;
	font-size: 84px;
	line-height: 100px;
	letter-spacing: -1px;
	color: #232340;
}

#left_part_body_subtitle {
	font-family: 'SF Pro Display';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 32px;
	color: #606060;
}

#recent_work_button{
    background: #5468E7;
}

#recent_work_button:hover{
    background: #0f2ce9;
}


#right_part_body_container{
    justify-self: start;
}

@media (max-width:1000px) {
    #hero_body_container{
        margin: 0%;
        display: flex;
        flex-direction: column;
    }

    #left_part_body_container{
        justify-self: start;
        margin-left: 0%;
        margin-right: 10%;
        gap: 15px;
    }

    #left_part_body_title {
        font-family: 'SF Pro Display';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 56px;
        /* or 117% */
        letter-spacing: -0.5px;

        /* color/dark */
        color: #232340;
    }

    #left_part_body_subtitle {
        font-family: 'SF Pro Display';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        color: #606060;
    }

    #recent_work_button{
        background: #5468E7;
        font-family: 'SF Pro Display';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        /* identical to box height, or 138% */
        text-align: center;

        /* color/white */
        color: #FFFFFF;
    }

    .page_box_container {
        padding: 0%;
        padding-right: 0%;
        padding-left: 6%;
        scroll-snap-type: y proximity;
    }

    #hero_header_container{
        display: flex;
        flex-direction: row;
        padding-top: 10%;
        padding-bottom: 10%;
        gap:165px;
    }

    #hero_header_item_2{
        display: none;
    }

    #header_logo{
        width: 120px;
    }

    #hero_header_rectangle{
        background: #232340;
    }

    #hero_header_item_3{
        display:none;
    }

    #hero_header_burguer{
        display: inline-block;
    }

    #hero_header_rectangle{
        background: #232340;
        width: 40%;
    }
}

@media (min-width:1001px) {
    #hero_header_burguer{
        display: none;
    }
    
    #hero_header_rectangle{
        display: none;
    }
}


/*
#################################
#                               #   
#       HERO DARK CONTAINER                          
#                               #   
#################################
*/


#page_2{
    background: #232340;
}

#hero_dark_grid{
    display: grid;
    grid-template-columns: 1fr 4fr;
    padding-top: 10%;
}

#left_column_hero_dark{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50%;
    gap: 245px;
}

#ul_list_hero_dark_left{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    list-style-type: none;
    padding: 0;
    color: #8B8B8B;
}

.padded_li{
    padding-bottom: 200%;
}

#r_column_hero_dark_item_1 > *{
    display:inline;
}

#i_01{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #8B8B8B;
    display: inline;
}

#who_we_are{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    display: inline;
    padding-left: 2%;
}

#we_make_designs{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 72px;
    letter-spacing: -0.5px;
    color: #FFFFFF;
}

#r_column_hero_dark_item_1_sub{
    display:grid;
    grid-template-columns: 70% 30%;
    margin-bottom: -29px;
}

.arrows_format{
    height: 40%;
}

#left_arrow_pg2 {
	height: 12%;
	padding: 19px;
}

#left_arrow_pg3 {
	height: 12%;
	padding: 19px;
}

.sub_arrows{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#right_arrow {
    height: 12%;
    transform: rotate(180deg);
    padding: 7%;
    border-radius: 55px;
    background: #5468E7;
}

#left_arrow_pg2:hover{
    border-radius: 55px;
    background: #313E93;
}

#left_arrow_pg3:hover{
    border-radius: 55px;
    background: #c5c5c5;
}

#right_arrow:hover{
    background: #3650f5;
}

#right_column_hero_dark{
    display: flex;
    flex-direction: column;
    gap:80px;
}

#big-desktop{
    width: 100%;
}

#r_column_hero_dark_item_3{
    display:flex;
    flex-direction:row;
    gap:130px;
    align-self: center;
}

#a_design_team_container{
    display:flex;
    flex-direction: column;
    gap:40px;
    width: 500px;
}

#a_design_title{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.5px;
    color: #FFFFFF;
}

#curated_design{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #8B8B8B;
}

#_28_biggest_container{
    display:flex;
    flex-direction: column;
}

#_28_title{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    font-size: 200px;
    line-height: 239px;
    text-align: center;
    color: #FFFFFF;
}

#hero_dark_button{
    align-self: start;
    background: #3650f5;
}

#hero_dark_button:hover{
    background: #0f0f8a;
}

#biggest{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    letter-spacing: -0.2px;
    color: #FFFFFF;
}

#hidden_number_choice{
    display: none;
}

#hidden_small_arrow{
    display: none;
}

@media (max-width:1000px) {

    #hero_dark_grid{
        display: flex;
        flex-direction: column;
    }

    #left_column_hero_dark{
        display:none;
    }

    #r_column_hero_dark_item_1_sub{
        display: flex;
        flex-direction: column;
    }

    #we_make_designs {
        width: 80%;
    }

    .sub_arrows{
	justify-content: flex-start;
    }

    #hidden_number_choice {
	font-family: 'SF Pro Text';
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	line-height: 16px;
	color: #FFFFFF;
	display: inline;
	align-self: center;
	padding-left: 90px;
	padding-right: 45px;
    }

    #hidden_small_arrow {
	display:inline;
	width: 5%;	
    }

    #we_make_designs {
	width: 80%;
	font-size: 47px;
	line-height: 55px;
	padding-top: 20px;
	padding-bottom: 20px;
    }

    #big-desktop {
	width: 106%;
	margin-left: -22.3px;
    }

    #r_column_hero_dark_item_3{
	flex-direction: column;
	gap:30px;
    }

    #a_design_team_container {
	display: flex;
	flex-direction: column;
	gap: 40px;
	margin-top: -57px;
	width: auto;
	margin-right: 10px;
    }

    #_28_title{
	margin: -39px;
	font-size: 140px;
    }

    #_28_biggest_container {
	height: 15%;
	padding: 20%;
	border-radius: 215px;
	background: #252a44;
	margin: 10px;
	margin-left: -10px;
    }

    #biggest {
	font-size: 18px;
    }


}



/*
#################################
#                               #   
#            PAGE 3
#                               #   
#################################
*/



.standart_header{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: auto;
    grid-template-areas:
        "little_logo little_header ."
        ". big_title sub_arrows";
    row-gap: 20px;
    padding-bottom:7%;
}

.small_letters_header_pg3 {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #5468E7;
    display: inline;
    grid-area:little_header;
}

.left_little_logo{
    width: 10%;
    grid-area:little_logo;
}

#we_make_designs_pg3{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 72px;
    letter-spacing: -0.5px;
    color: #232340;
    grid-area:big_title;
}

#sub_arrows_pg3{
    grid-area: sub_arrows;
}

#center_pg3{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    filter: drop-shadow(3px 3px 29px #D2D1D1);
}

.icon_container {
	padding-top: 50%;
	padding-bottom: 50%;
	background-color: white;
	padding-left: 25%;
	padding-right: 65%;
	border-radius: 50px;
    justify-self: center;
}

.icon_within{
    width: 120px;
    padding-bottom: 40px;
}

.text_within{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    letter-spacing: -0.2px;
    color: #5468E7;
    justify-self: start;
}

.last-item_container{
    width: 120px;
	padding-top: 50%;
	padding-bottom: 50%;
	background-color: white;
	padding-left: 25%;
	padding-right: 26%;
	border-radius: 50px;
}

#page_3{
    display:flex;
    flex-direction: column;
    gap:30px;
    background: linear-gradient(360deg, rgba(255, 255, 255, 0.0001) 0%, rgba(237, 229, 240, 0.504289) 100%);
}

@media (max-width:1000px) {
    

}



/*
#################################
#                               #   
#            PAGE 4
#                               #   
#################################
*/

/*
#page_4{
    background: linear-gradient(360deg, rgba(255, 255, 255, 0.0001) 0%, #EDE5F0 100%);
}
*/
#header_page_4{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: auto;
    grid-template-areas:
        "little_logo little_header ."
        ". big_title button"
        ". little_text .";
    row-gap: 32px;
    padding-bottom:7%;
}

#big_title_pg4{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 84px;
    line-height: 100px;
    letter-spacing: -1px;
    color: #232340;
    grid-area: big_title;
}

#contact_us_button_pg4 {
	grid-area: button;
	background-color: #5468E7;
	justify-self: end;
	align-self: start;
}

#little_text{
    grid-area: little_text;
    padding-right: 177px;
}

#contact_us_button_pg4:hover{
    background: #050549;
}


